services:
  mongo:
    image: mongo:latest
    container_name: mongo-container-project-v1
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    networks:
      - app_network
    volumes:
      - mongo-data:/data/db

  api:
    build: .
    container_name: api-container
    ports:
      - "3000:3000"
    environment:
      MONGO_HOST: mongo
      MONGO_USER: admin
      MONGO_PASSWORD: password
    depends_on:
      - mongo
    networks:
      - app_network

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express-container-project-v1
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo-data:
