version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: mongo-container-project-v1
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  api:
    build:
      context: ./api          # pastikan Dockerfile & package.json ada di ./api
      dockerfile: Dockerfile
    container_name: api-container
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://admin:password@mongo:27017/toko?authSource=admin
      PORT: 3000
    depends_on:
      - mongo
    networks:
      - app_network
    restart: unless-stopped

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express-container-project-v1
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_SITE_DOCUMENTS_PER_PAGE: "20"
      ME_CONFIG_MONGODB_SERVER: mongo
      # opsi basic auth (jika mau aktifkan UI login)
      # ME_CONFIG_BASICAUTH_USERNAME: admin
      # ME_CONFIG_BASICAUTH_PASSWORD: password
    depends_on:
      - mongo
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge

volumes:
  mongo-data:
